html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #87805E;
  background-color: #76BA99;
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #EDDFB3;
  gap: 10px;
  width: 266px;
  border-radius: 10px;
  color: #87805E;
}

#btn-container{
  display: flex;
  gap: 10px;
}

#digit-container {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  gap: 10px;
}

#operator-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50px;
}

.digit {
  width: 50px;
  height: 50px;
  flex-direction: row-reverse;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  color: #87805E;
  cursor: pointer;
  transition: .5s;
  outline: none;
  
}
#equalBtn:active{
  background-color: whitesmoke;
  box-shadow: 1px #2c2c2c ; 
  color: #87805E;
}

.operator:active,.topBtn:active {
  background-color: whitesmoke;
  color: #D8CCA3;
}

#digit-container .digit:active{
  background-color: #87805E;
  color: white;
}


#result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  
  border-radius: 10px;
  height: 50px;
  background-color: white;

}

.topBtn{
  background-color: #D8CCA3;
  color: #87805E;
}

#top-container{
  display: flex;
  gap: 10px;
  
}

#equalBtn{
  width: 110px;
  background-color: #87805E;
  color: #EDDFB3;
}

.operator {
  flex: 1;
  background-color: #D8CCA3;
  border-style: none;
  border-radius: 10px;
  color: #87805E;
  transition: .3s;
}

.zero {
  width: 110px;
}

